body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav .menu li {
    margin: 0 10px;
}

nav .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h1 {
    color: #27acd9;
    text-align: center;
    margin-top: 40px;
    font-size: 48px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.category-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.category-menu button {
    background-color: #fff;
    color: #333;
    border: 2px solid #27acd9;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.category-menu button.active, .category-menu button:hover {
    background-color: #27acd9;
    color: white;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.product-grid a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: background-color 0.3s ease;
}

.product-grid a:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .category-menu button {
        padding: 10px;
        font-size: 14px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}
