body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "sans-serif";
  background: #f8f9fa;
}

.c-header {
top: 0;
background-color: #27acd9;
position: fixed;
align-items: center;
box-sizing: border-box;
display: flex;
justify-content: space-between;
padding: 1rem 2rem;
width: 100%;
}

.c-header__logo {
color: #fff;
min-width: 80px;
text-decoration: none;
}

.c-header__list {
box-sizing: border-box;
display: flex;
margin: 0;
padding: 0;
background-color: #27acd9;
}

.c-header__list-item {
list-style: none;
text-decoration: none;
}

.c-header__list-link {
color: #fff;
display: block;
margin-right: 20px;
text-decoration: none;
padding: 10px 0px;
}

.c-header__list-link:hover {
filter: opacity(0.6);
}

.c-hamburger-menu {
position: fixed;
}

@media screen and (max-width: 750px) {
.c-hamburger-menu__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 2rem;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.3s;
  top: 100%;
  width: 100%;
}

#hamburger:checked ~ .c-hamburger-menu__list {
  transform: translateX(0%);
  transition: 0.3s;
}
}

.c-hamburger-menu__input {
display: none;
}

.c-hamburger-menu__bg {
background-color: #fff;
cursor: pointer;
display: none;
height: 100vh;
left: 0;
opacity: 0.4;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
display: block;
}

.c-hamburger-menu__button {
display: none;
}

@media screen and (max-width: 750px) {
.c-hamburger-menu__button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
}

.c-hamburger-menu__button-mark {
background-color: #fff;
display: block;
height: 1px;
transition: 0.3s;
width: 20px;
}

@media screen and (max-width: 750px) {
#hamburger:checked
  ~ .c-hamburger-menu__button
  .c-hamburger-menu__button-mark:nth-of-type(1) {
  transform: translate(2px, 1px) rotate(45deg);
  transform-origin: 0%;
}
#hamburger:checked
  ~ .c-hamburger-menu__button
  .c-hamburger-menu__button-mark:nth-of-type(2) {
  opacity: 0;
}
#hamburger:checked
  ~ .c-hamburger-menu__button
  .c-hamburger-menu__button-mark:nth-of-type(3) {
  transform: translate(2px, 3px) rotate(-45deg);
  transform-origin: 0%;
}
}

.water li {
  list-style: none;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 3em;
  text-align: center;
}

.accordion-001 {
  max-width: 500px;
  background-color: #f2f2f2;
}

.accordion-001:not([open]) {
  margin-bottom: 7px;
}

.accordion-001 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #27acd9;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.accordion-001 summary::-webkit-details-marker {
  display: none;
}

.accordion-001 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  transition: transform .3s;
}

.accordion-001[open] summary::after {
  transform: rotate(225deg);
}

.accordion-001 p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 1em 2em 2em 2em;
  color: #000000;
  transition: transform .5s, opacity .5s;
}

.accordion-001[open] p {
  transform: none;
  opacity: 1;
}

.heading-41 {
  display: flex;
  align-items: center;
  padding: .5em .7em;
  background-color: #f2f2f2;
  color: #333333;
}

.heading-41::before {
  display: inline-block;
  width: 5px;
  height: 1.5em;
  margin-right: .5em;
  background-color: #2589d0;
  content: '';
}

.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin:0 auto;
  padding: .9em 2em;
  border: 1px solid #2589d0;
  background-color: #fff;
  color: #2589d0;
  font-size: 1em;
}

.site-footer {
  padding: 10px 0;
}

.copyright {
  font-family: Terminal;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: center;
}

.last {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.space {
padding-top: 5em;
}

.main {
text-align: center;
}